<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/index">Home</a></td>
        <td><a href="{{site.baseurl}}/navigation/compsci">CompSci Timeline</a></td>
        <td><a href="{{site.baseurl}}/blogs">Blogs</a></td>
        <td><a href="{{ site.github.repository_url }}#readme">View On Github</a></td>
        <td><a href="{{ site.baseurl}}/2023/09/06/javascript_calculator.html">JS Calculator</a></td>
        <td><a href="{{ site.baseurl}}/2023/11/02/Test_New_Game.html">Game</a></td>
        <td><a href="{{ site.baseurl}}/2023/08/31/Snake_Game.html">Snake Game</a></td>

    </tr>
</table>